<div class = "card" style="width: 50%;">
    <div class = "card-header">
        <span>{{ title }}</span>
        <span style="float: right;" (click)= "isCollapsed = !isCollapsed"><img *ngIf="isCollapsed; then arrowUp else arrowDown"></span>
    </div>
    <div [@expandCollapse]="isCollapsed ? 'collapsed' : 'expanded'" class = "card-body zippy-body">
        <ng-content></ng-content>
    </div>
</div>

<ng-template #arrowDown>
    <img src="../../assets/bootstrap-icons/icons/chevron-down.svg">
</ng-template>
<ng-template #arrowUp>
    <img src="../../assets/bootstrap-icons/icons/chevron-right.svg">
</ng-template>